@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

body {
	background-image: url("../assets/bg0.jpg");
	  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: repeat-y;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */

  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
	font-family: 'Lato', sans-serif;
}

.background00 img {
	width: 100%;
	height:100% 

}


.slider h3 {
	font-family: 'Cookie', cursive;
	font-size:5.92rem;
	margin-top: -5%;
	 text-shadow: 2px 2px 2px #212121;
	 opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:1s;
    animation-delay: 1.2s
}

.iconsong img, .iconregalo img {
	width: 55px;
	height: 55px;
}

.iconsong, .iconregalo {
	margin-bottom: 10px;
}


p#fecha{
	font-size: 5vw;
		font-family: 'Cookie', cursive;
		text-shadow: 2px 2px 2px #212121;
		margin-top: -17%;
		 opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:1s;
    animation-delay: 1.2s
}

p#a01 {
	font-size: 8vw;
		font-family: 'Cookie', cursive;
		text-shadow: 2px 2px 2px #212121;
		margin-top: 250px;
		 opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:1s;
    animation-delay: 1.2s
}

.background00 #a00 {
	font-family: 'Cookie', cursive;
  color: white;
font-size:9vw;
  position: absolute;
   top: 10%;
  left: 47%;
  text-shadow: 2px 2px 2px #212121;
  transform: translate(-50%, -50%);
  opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:1s;
    animation-delay: 1.5s
}

.background00 #a01 {
	 position: absolute;
  top: 64%;
   line-height: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
font-family: 'Cookie', cursive;
  color: white;
  text-shadow: 2px 2px 2px #212121;
font-size:8vw;
opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:1s;
    animation-delay: 1.5s
}

.seccioncontador{
	background-color: black;
	height: 160px;
	width: 100vw;

}

.slider {

	position: none !important;
}

#content {
top: 100%;
  position: absolute;
}

.slider .indicators .indicator-item.active {
    background-color: rgba(255, 0, 0, 0.0);;
}


.conta {
	  opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:1s;
    animation-delay: 1.5s
}

.rowdatos {
	margin-bottom: 0px !important;
	opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:1s;
    animation-delay: 1.5s
}

.textinvita span {
	font-size: 1.2em;
	padding-top: 10px;
}

.background00 #a02  {
	font-family: 'Cookie', cursive;
  color: white;
font-size:4vw;
  position: absolute;
   top: 80%;
  left: 50%;
  text-shadow: 2px 2px 2px #212121;
  transform: translate(-50%, -50%);
  opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:1s;
    animation-delay: 1.5s
}

.contenedor {
	 position: relative;
	 margin-bottom: -6px;
}


.time-label {
				font-weight: bold;
				font-size: 130%;
			}
			.time_circles {
				position: relative;
				width: 100%;
				height: 100%;
			}
			.time_circles > div {
				position: absolute;
				text-align: center;
			}
			.time_circles > div > h4 {
				cursor: default;
				margin: 0px;
				padding: 0px;
				text-align: center;
				text-transform: uppercase;
				font-family: 'Lato', sans-serif;
			}
			.time_circles > div > span {
				cursor: default;
				display: block;
				width: 100%;
				text-align: center;
				font-family: 'Lato', sans-serif;
				font-size: 300%;
				margin-top: 0.4em;
				font-weight: bold;
			}


#dateCountdown {
margin: 0 auto;
    width: 50%;
}


.imgizq img {
	width: 100%;
	border:8px solid #fff;
-webkit-box-shadow: 10px 10px 33px -2px rgba(0,0,0,0.63);
-moz-box-shadow: 10px 10px 33px -2px rgba(0,0,0,0.63);
box-shadow: 10px 10px 33px -2px rgba(0,0,0,0.63);
}

h3.titulo-seccion {
 font-family: 'Pacifico', cursive;
}

p#lugar {
	font-weight: bolder;
	font-size: 1.2em;
	margin-top: 2%;
    margin-bottom: 1%;
}

.textder span {
	font-size: 1.2em;
}

#botonmapa {

    width: 50%;
    margin: 0 auto;
}

.contenedorlugares {
	margin-top: 5%;
	  display: flex;
  flex-wrap: wrap;
  opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:1s;
    animation-delay: 1.5s
}

.contenedorregalo {
	display: block;
    text-align: center;
    background-color: black;
    height: 250px;
 display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10%;
    margin-bottom:  5%;

}

.contenedorinvita {
	display: block;
    text-align: center;
    height: 200px;
    margin-bottom: 12%;
   opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:1s;
    animation-delay: 1.5s
}

.contenedorreg {
	
}

.botonmodal{
	color: #fff;
	display: block;
	
	margin: 0 auto !important;
	width: 50%;
}

.textgift span {
color: white;
font-size: 1.2em;
	margin-top: 2%;
}

.textgift {
	width: 60%;
    display: block;
    margin: 0 auto;
}

.botondatos {
	margin-top: 2%;
}

.botonregalo{
	margin-top: 2% !important;
}

.textinvita h2 {
 font-family: 'Pacifico', cursive;
 margin-bottom: 5%;
}


@media (min-width: 993px) and (max-width: 1240px){
	h3.titulo-seccion {

				margin-bottom: 0px;
				margin-top: 2%;
	}
	p#lugar {
		margin: 0;
    margin-top: 1%;
	}

	p.dir {
		margin-top: 1%;
    margin-bottom: 1%;
	}
}

@media (max-width: 600px){
	.textgift {
		width: 99%;
	}

	.slider h3 {
	
	font-size:5.2rem;
}

p#a01 {
	font-size: 5rem;
		
}

p#fecha{
	font-size: 5vw;
	margin-top: -20%;
		
}

.botonregalo {
	margin-top: 5%;
}


}


@media (max-width: 700px){

.textsong p {
	width: 70% !important;
}

}


@media (max-width: 500px){
	p#fecha{
	font-size: 5vw;
	margin-top: -25%;
		
}
}


@media (max-width: 440px){
		.slider h3 {
	
	font-size:4.8rem;
}
	p#fecha{
	font-size: 2rem;
	margin-top: -25%;
		
}
}

@media (max-width: 400px){
	.background00 #a00 {
	font-size: 13vw;
	width: 55%;
	top: 4%;
	}
	.background00 #a01 {
		font-size: 10vw;
	}
	.background00 #a02 {
		font-size: 5vw;
		top: 84%;
	}

		.slider h3 {
	
	font-size:4rem;
}

p#a01 {
	font-size: 4rem;
		
}


.botondatos{
	margin-top: 5% !important;
}

	#countdown .tr-text {
  font-size: 10px !important;
}

#countdown .numbers {

  font-size: 20px !important;
}

.seccioncontador {
	height: 145px;
}

.textinvita h2 {
	    font-size: 2.5em;

}

.textsong p
{
	width: 85% !important;
}

.textgift span, .textinvita span {
	font-size: 1em !important;
}

}


@media (max-width: 330px){

.slider h3 {
	
	font-size:3.2rem;
}
}

@media (max-width: 300px){
	#botonmapa {
    width: 70%;
   
}
.botondatos {
	font-size: 12px;
}

.seccioncontador {
	height: 115px;
}

#countdown .numbers {

  font-size: 15px !important;
}

p#a01 {
	font-size: 3rem;
		
}

	#countdown .tr-text {
  font-size: 8px !important;
}
}

@media (max-width: 280px){

.slider h3 {
	
	font-size: 2.2em;
}

p#a01 {
	font-size: 3rem;
	margin-top: 280px;
		
}
	p#fecha{
	font-size: 1.5rem;
	margin-top: -15%;
		
}
}



iframe {
	width: 100%;
    display: block;
}

.modalgoogle {
	display: block;
    text-align: center;
    margin: 0 auto;
    width: 95%;
    padding: 12px !important;
}

#modal2 {
	width: 98% !important;
}

.imghidden img {
	margin-top: 10% !important;
}

#countdown {
	color: #fff;
  margin-top: 1.5em;
}
#countdown td {
  text-align: center;
  padding: 10px 5px;
}
#countdown .tr-text {
  font-size: 14px;
}
#countdown .tr-text td {
  padding: 0;
}
#countdown table {
  table-layout: fixed;
  margin-bottom: 0;

}
#countdown table tr {
  border: none;
}
#countdown .fix-width {
  position: relative;
  font-weight: 500;
  font-size: 2em;
}
#countdown .circle {
  width: 76%;
  height: 0;
  padding-bottom: 71%;
  border-radius: 50%;
  margin: 0 auto;
}
#countdown .numbers {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 85%;
}
#countdown svg {
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#countdown svg.filter-shadow {
  filter: drop-shadow(0px 0px 1.5px rgba(255, 64, 129, 0.9));
}



.seccioncanciones {
	background-color: black;
	display: block;
	text-align: center;
	color: white;
	margin-top: 5%;
	padding-top: 60px;
	padding-bottom: 60px;

}


.canciones {
	opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:1s;
    animation-delay: 1.5s
}

.textsong p{
	font-size: 1.2em;
	margin: 0 auto;
	width: 50%;
}

.modal-overlay {
	display: inline !important;
}





/* ==========================================================
! LOADER 
========================================================== */
#page-loader {
  width: 100%;
  height: 100%;
  background: #d1837e;
  color: #5c453f;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.loading-wrapper {
  width: 300px;
  position: fixed;
  top: 40%;
  left: 50%;
  padding-top: 115px;
  margin-left: -190px;
  visibility: hidden;
  opacity: 0;
  position: relative;
}
.loader-heart {
  position: absolute;
  opacity: 0;
  -webkit-animation: pulse2 1.8s linear infinite;
  -moz-animation: pulse2 1.8s linear infinite;
  -ms-animation: pulse2 1.8s linear infinite;
  animation: pulse2 1.8s linear infinite;
}
.loader-heart img {
  width: 100%;
}
.loader-heart1 {
  top: 0;
  left: 166px;
}
.loader-heart2 {
  width: 30px;
  top: 38px;
  left: 130px;
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
}
.loader-heart3 {
  width: 20px;
  left: 173px;
  top: 78px;
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
}
.tp-loader {
  z-index: 10000;
  position: relative;
}
.tp-loader.spinner {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  font-family: 'Great Vibes', cursive;
  font-size: 48px;
  color: #ffffff;
  background-color: transparent;
}
@-webkit-keyframes pulse2 {
  0% {
    -webkit-transform: translateY(5px) scale(0.8);
    opacity: 0;
  }
  30% {
    -webkit-transform: scale(1) translateY(-10px);
    opacity: 0.8;
  }
  60% {
    -webkit-transform: scale(0.8) translateY(-20px);
    opacity: 0;
  }
}
@-moz-keyframes pulse2 {
  0% {
    -moz-transform: translateY(5px) scale(0.8);
    opacity: 0;
  }
  30% {
    -moz-transform: scale(1) translateY(-10px);
    opacity: 0.8;
  }
  60% {
    -moz-transform: scale(0.8) translateY(-20px);
    opacity: 0;
  }
}
@keyframes pulse2 {
  0% {
    transform: translateY(5px) scale(0.8);
    opacity: 0;
  }
  30% {
    transform: scale(1) translateY(-10px);
    opacity: 0.8;
  }
  60% {
    transform: scale(0.8) translateY(-20px);
    opacity: 0;
  }
}