@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');


body {
	background-image: url("../assets/bg0.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.background00 img {
	width: 100%;
	height:100% 
}

.background00 #a00 {
	  font-family: 'Satisfy', cursive;
  color: white;
font-size:9vw;
  position: absolute;
   top: 10%;
  left: 50%;
  text-shadow: 2px 2px 2px #212121;
  transform: translate(-50%, -50%);
}

.background00 #a01 {
	 position: absolute;
  top: 64%;
   line-height: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Satisfy', cursive;
  color: white;
  text-shadow: 2px 2px 2px #212121;
font-size:8vw;
}

.seccioncontador{
	background-color: black;
	height: 160px;
}

.rowdatos {
	margin-bottom: 0px !important;
}

.background00 #a02  {
	font-family: 'Satisfy', cursive;
  color: white;
font-size:4vw;
  position: absolute;
   top: 80%;
  left: 50%;
  text-shadow: 2px 2px 2px #212121;
  transform: translate(-50%, -50%);
}

.contenedor {
	 position: relative;
	 margin-bottom: -6px;
}


.time-label {
				font-weight: bold;
				font-size: 130%;
			}
			.time_circles {
				position: relative;
				width: 100%;
				height: 100%;
			}
			.time_circles > div {
				position: absolute;
				text-align: center;
			}
			.time_circles > div > h4 {
				cursor: default;
				margin: 0px;
				padding: 0px;
				text-align: center;
				text-transform: uppercase;
				font-family: 'Century Gothic', Arial;
			}
			.time_circles > div > span {
				cursor: default;
				display: block;
				width: 100%;
				text-align: center;
				font-family: 'Century Gothic', Arial;
				font-size: 300%;
				margin-top: 0.4em;
				font-weight: bold;
			}


#dateCountdown {
margin: 0 auto;
    width: 50%;
}


.imgizq img {
	width: 100%;
	border:8px solid #fff;
-webkit-box-shadow: 10px 10px 33px -2px rgba(0,0,0,0.63);
-moz-box-shadow: 10px 10px 33px -2px rgba(0,0,0,0.63);
box-shadow: 10px 10px 33px -2px rgba(0,0,0,0.63);
}

h3.titulo-seccion {
font-family: 'Satisfy', cursive;
}

p#lugar {
	font-weight: bolder;
	font-size: 1.2em;
	margin-top: 2%;
    margin-bottom: 1%;
}

.textder span {
	font-size: 1.2em;
}

#botonmapa {

    width: 50%;
    margin: 0 auto;
}

.contenedorlugares {
	margin-top: 5%;
	  display: flex;
  flex-wrap: wrap;
}

.contenedorregalo {
	display: block;
    text-align: center;
    background-color: black;
    height: 230px;
 display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10%;
    margin-bottom:  5%;

}

.contenedorinvita {
	display: block;
    text-align: center;
    height: 200px;
   
}

.contenedorreg {
	
}

.botonmodal{
	color: #fff;
	display: block;
	
	margin: 0 auto !important;
	width: 50%;
}

.textgift span {
color: white;
font-size: 1.2em;
	margin-top: 2%;
}

.textgift {
	width: 60%;
    display: block;
    margin: 0 auto;
}

.botondatos {
	margin-top: 2%;
}

.botonregalo{
	margin-top: 4%;
}

.textinvita h2 {
	font-family: 'Satisfy', cursive;
}


@media (min-width: 993px) and (max-width: 1240px){
	h3.titulo-seccion {

				margin-bottom: 0px;
				margin-top: 2%;
	}
	p#lugar {
		margin: 0;
    margin-top: 1%;
	}

	p.dir {
		margin-top: 1%;
    margin-bottom: 1%;
	}
}

@media (max-width: 600px){
	.textgift {
		width: 99%;
	}

}

@media (max-width: 400px){
	.background00 #a00 {
	font-size: 13vw;
	width: 67%;
	top: 4%;
	}
	.background00 #a01 {
		font-size: 10vw;
	}
	.background00 #a02 {
		font-size: 5vw;
		top: 84%;
	}

	#countdown .tr-text {
  font-size: 10px !important;
}

#countdown .numbers {

  font-size: 20px !important;
}

.seccioncontador {
	height: 145px;
}



}

@media (max-width: 300px){
	#botonmapa {
    width: 70%;
   
}
.botondatos {
	font-size: 12px;
}

.seccioncontador {
	height: 115px;
}

#countdown .numbers {

  font-size: 15px !important;
}

	#countdown .tr-text {
  font-size: 8px !important;
}
}

iframe {
	width: 100%;
    display: block;
}

.modalgoogle {
	display: block;
    text-align: center;
    margin: 0 auto;
    width: 95%;
    padding: 12px !important;
}

#modal2 {
	width: 98% !important;
}

.imghidden img {
	margin-top: 10% !important;
}

#countdown {
  color: #fff;
  margin-top: 1.5em;
}
#countdown td {
  text-align: center;
  padding: 10px 5px;
}
#countdown .tr-text {
  font-size: 14px;
}
#countdown .tr-text td {
  padding: 0;
}
#countdown table {
  table-layout: fixed;
  margin-bottom: 0;
}
#countdown table tr {
  border: none;
}
#countdown .fix-width {
  position: relative;
  font-weight: 500;
  font-size: 2em;
}
#countdown .circle {
  width: 76%;
  height: 0;
  padding-bottom: 71%;
  border-radius: 50%;
  margin: 0 auto;
}
#countdown .numbers {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 85%;
}
#countdown svg {
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#countdown svg.filter-shadow {
  filter: drop-shadow(0px 0px 1.5px rgba(255, 64, 129, 0.9));
}
